/*Variables*/

:root {
  --basic-black: #000000;
  --basic-light-black: #283136;

  --basic-dark: #231f20;
  --basic-light-dark: #666666;
  --basic-dark-opacity: #b3b3b3;

  --basic-super-gray: #888888;
  --basic-extra-gray: #444444;
  --basic-dark-gray: #4d4d4d;
  --basic-mildly-gray: #a6a6a6;
  --basic-gray: #eeeeee;
  --basic-light-gray: #e1e1e1;
  --basic-usual-gray: #dbdbdb;
  --special: #dfdfdf;
  --basic-special-gray: #b4b9bb;
  --special-ultra-gray: #d7dcde;
  --special-gray: #d5d5d5;

  --basic-extra-red: #d7373b;
  --basic-mildly-red: #e74246;
  --basic-red: #fb565a;

  --basic-extra-green: #00aa62;
  --basic-mildly-green: #00bc6c;
  --basic-green: #00ca74;

  --basic-extra-yellow: #e5a722;
  --basic-mildly-yellow: #eab534;
  --basic-yellow: #efc849;

  --basic-white: #ffffff;
}

/*Global*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Verdana", sans-serif;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

/*Grid*/

.page {
  height: 100%;
}

/*Main header*/

.main-header-bar {
  background-color: var(--basic-gray);
}


/*Main navigation*/

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 6px;
}

.site-navigation-list {
  padding-right: 45px;
}

.site-navigation-list:nth-child(4n) {
  margin-right: 0;
}


.main-navigation,
.basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: transparent;
}

.basket {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.basket-img {
  padding-right: 24.48px;
}

.main-navigation {
  display: grid;
  grid-template-columns: 362px 678px 119px;
  justify-content: center;
  align-items: center;
  padding-top: 48.98px;
}

.site-navigation .shop {
  position: relative;
}

.shop::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: var(--basic-red);
  right: 1px;
  top: 37px;
}

.main-header,
.description {
  background-color: var(--basic-gray);
}

.site-navigation a,
.basket {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket:hover {
  color: var(--basic-red);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;

}

.basket:active {
  color: var(--basic-dark-opacity);
}

.basket {
  padding-left: 40px;
  background-image: url("../img/icon-basket.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
}

.navigation-basket {
  padding-top: 7px;
}


/*Container*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*Slaiders*/

.description {
  position: relative;
  margin-bottom: 80px;
}

.description-bar {
  background-color: var(--basic-gray);
}


.description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.description-item-wrapper {
  padding-top: 67px;
}

.description-item-paragraph {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.description-item-competence {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 40px;
}

.description-study {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.description-study {
  display: inline-block;
  padding: 17px 54px 15px 54px;
  border-radius: 3px;
}

.description-study:hover {
  background-color: var(--basic-mildly-red);

}

.description-study:active {
  background-color: var(--basic-extra-red);
}

.description-study a:active {
  opacity: 0.3;
}

.description-item-active {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;
  background-image: url(../img/slide-pic-1.png);
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -11px;
}

.description-item-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 105px;
  background-image: url(../img/slide-pic-2.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -27px;
  display: none;
}

.description-item-three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 105px;
  background-image: url(../img/slide-pic-3.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -27px;
  display: none;
}

.slider-controls {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 88px;
  bottom: 92px;
  left: 50%;
  transform: translate(-50%);
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*Services*/

.services {
  margin-bottom: 121px;
  position: relative;
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-list::after {
  content: "";
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-gray);
  bottom: -82px;
  left: 21px;
}


.services-item-img {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.services-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}


.services-list-item {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  padding: 0;
  margin: 0;
  margin-bottom: 32px;

}

.services-order-web,
.services-order-app,
.services-order-presentation {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  text-transform: uppercase;
}

.services-order-web {
  display: inline-block;
  background-color: var(--basic-red);
}

.services-order-web:hover {
  background-color: var(--basic-mildly-red);
}

.services-order-web:active {
  background-color: var(--basic-extra-red);
}

.services-order-app {
  display: inline-block;
  background-color: var(--basic-green);
}

.services-order-app:hover {
  background-color: var(--basic-mildly-green);
}

.services-order-app:active {
  background-color: var(--basic-extra-green);
}

.services-order-presentation {
  display: inline-block;
  background-color: var(--basic-yellow);
}

.services-order-presentation:hover {
  background-color: var(--basic-mildly-yellow);
}

.services-order-presentation:active {
  background-color: var(--basic-extra-yellow);
}

/*About-us*/

.about-us {
  display: grid;
  grid-template-columns: 650px 390px;
  column-gap: 153px;
  margin-bottom: 72px;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
}


.about-us-container {
  margin: 0 auto;
  padding-right: 30px;
}

.about-us-characteristic {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0 auto;
  margin-top: 34px;
}

.about-us-slogan {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  margin-top: 34px;
}

.about-us-contractor {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-light-black);
  margin-top: 40px;
  margin-bottom: -7px;
}

.about-us-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us-item {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-light-black);
  margin-top: 30px;
  padding-left: 37px;
  margin-bottom: -6px;
}

.about-us-item:nth-last-child {
  margin-bottom: 0;
}

.about-us-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: 0px;
  top: 11px;
}

.about-us-logo {
  margin-bottom: 34px;
}

.about-us-formality {
  width: 358px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-bottom: 27px;
}

.percent {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}


.percent sup {
  top: -11px;
  right: 4px
}

.ratio {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-black);
}

.ratio-td {
  padding-top: 7px;
}



/*Partners*/

.partners {
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-gap: 40px;
  align-items: center;
  position: relative;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
  padding-top: 48px;
  padding-bottom: 42px;
}

.partners-academy,
.partners-borodinski,
.partners-pink,
.partners-mishka {
  display: flex;
  justify-content: center;
  opacity: 0.2;
}

.partners-list img {
  display: block;
}

.partners-academy:hover {
  opacity: 1;
}

.partners-borodinski:hover {
  opacity: 1;
}

.partners-pink:hover {
  opacity: 1;
}

.partners-mishka:hover {
  opacity: 1;
}

.partners-academy:active {
  opacity: 0.1;
}

.partners-borodinski:active {
  opacity: 0.1;
}

.partners-pink:active {
  opacity: 0.1;
}

.partners-mishka:active {
  opacity: 0.1;
}

.partners-list li {
  position: relative;
}

.partners-list li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray);
  right: -21px;
  top: 8px;
}

.partners-list li:nth-child(4n+4)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-white);
  right: 10px;
  top: 10px;
}


/* Main footer*/

.main-footer-bar {
  background-color: var(--basic-super-gray);
}

.footer-map {
  display: block;
  margin: auto;
}

.find-us {
  padding-left: 50px;
}

.find-us-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.address,
.contacts-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-dark);
}

.contacts-phone {
  margin-bottom: 47px;
}


.write-us {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 17px 44px 15px 44px;
  border-radius: 3px;
}

.friendship {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.discount {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-gray);
}

/*Social-networks*/

.footer-social {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-top: 65px;
}

.social-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-list a {
  position: relative;
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--basic-light-gray);
  box-sizing: border-box;
  margin-right: 9px;
}

.social-button-vk::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.social-button-fb::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.social-button-inst::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.social-button-vk:hover {
  background-color: var(--basic-mildly-red);

}

.social-button-fb:hover {
  background-color: var(--basic-mildly-red);

}

.social-button-inst:hover {
  background-color: var(--basic-mildly-red);

}


.social-button-vk:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button-vk:active::before {
  background-color: var(--basic-extra-red);
  opacity: 0.3;
}

.social-button-fb:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button-fb:active::before {
  background-color: var(--basic-extra-red);
  opacity: 0.3;
}

.social-button-inst:active {
  background-color: var(--basic-extra-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button-inst:active::before {
  background-color: var(--basic-extra-red);
  opacity: 0.3;
}


/*  Popup*/

.popup {
  display: none;

  position: fixed;
  left: 50%;
  width: 960px;
  top: 50%;
  padding: 63px 90px 84px 100px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
}

.popup-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.popup-name,
.popup-mail,
.popup-lead {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}


.popup-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 17px 83px 15px 83px;
  border-radius: 3px;
  border: none;
}

.popup-input {
  font-family: inherit;
  width: 360px;
  height: 50px;
  border: 2px solid var(--special-ultra-gray);
  border-radius: 3px;
  cursor: pointer;
  padding-left: 14px;
  margin-top: 17px;
}

.popup-name {
  padding-right: 37px;
}

.popup-input:hover,
.popup-input-letter:hover {
  border: 2px solid var(--basic-special-gray);
}

.popup-input:focus::-webkit-input-placeholder,
.popup-mail:focus::-webkit-input-placeholder,
.popup-input-letter:focus::-webkit-input-placeholder {
  color: var(--basic-extra-gray);
}

.popup-input:focus::-moz-placeholder,
.popup-mail:focus::-moz-placeholder,
.popup-input-letter:focus::-moz-placeholder {
  color: var(--basic-extra-gray);
}

.popup-input-letter {
  width: 760px;
  height: 118px;
  border: 2px solid var(--special-ultra-gray);
  border-radius: 3px;
  margin-bottom: 47px;
  resize: none;
  cursor: pointer;
  padding-left: 15px;
  padding-top: 13px;
}

.popup-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 99px;
}

.popup-close {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 90px;
  top: 66px;
  width: 21px;
  height: 21px;
  background-image: url(../img/close-popup.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
  outline: none;
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.1;
}

/*Catalog*/

/*Main header*/

.main-header-bar-title {
  background-color: var(--basic-gray);
  padding-top: 1px;
  padding-bottom: 117px;
  margin-bottom: 55px;
}


.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  padding-top: 29px;
  margin-bottom: -9px;
}

/*Filters*/

.filter-item legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
  margin-bottom: 54px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-gray);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-ultra-gray);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-mildly-gray);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: content-box;
  transform: translateY(-50%);
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}


.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-light-black);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-gray);
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.filters {
  width: 260px;
}


.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.mesh {
  margin-bottom: 15px;
}



.mesh-list {
  margin: 0;
  padding: 0;
}

.specificity {
  padding-top: 28px;
  margin-bottom: 16px;
}


.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}


.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio+label:hover::before,
.filter-input-radio:checked+label:hover::after {
  opacity: 1;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}



.filter-input-checkbox+label:hover::before,
.filter-input-checkbox:checked+label:hover::after {
  opacity: 1;
}



.filter legend {
  font-size: 18px;
  line-height: 30px;
}


.filter ul {
  padding: 0;
  margin: 0;
  line-height: 19px;

}

.filter-option {
  padding-left: 35px;
  margin-bottom: 20px;
}

.mesh-list,
.specificity-list {
  list-style: none;
}

.mesh,
.specificity {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}



.filter-radio,
.filter-checkbox {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-light-black);
}

.show-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  padding: 17px 89px 15px 88px;
  border-radius: 3px;
  border: none;
  margin-top: 34px;
}

.show-button:hover {
  background-color: var(--special);
}

.show-button:focus {
  background-color: var(--special-gray);
}

/*Grids filters*/

.filters-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


/*Cards*/

.sort {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-transform: uppercase;
}

.sort-paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  margin-bottom: 49px;
  margin-top: 0;
}

/*.sort-list-wrapper {
  display: flex;
  justify-content: space-between;
}*/

.sort-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 358px;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  box-sizing: content-box;
  padding-top: 6px;
}

.sort-list-button {
  list-style: none;
  width: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.button-down,
.button-up {
  fill: var(--basic-mildly-gray);
  opacity: 0.2;
}

.button-down:hover,
.button-up:hover {
  fill: var(--basic-mildly-gray);
  opacity: 1;
}

.button-down:active,
.button-up:active {
  fill: var(--basic-dark);
}

.cards {
  padding-left: 15px;
}


.cards-list {
  position: relative;
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

}

.cards-item {
  position: relative;
  margin-right: 43px;
  margin-bottom: 32px;
  padding-top: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.cards-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.cards-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: var(--basic-dark-gray);
  opacity: 0.12;
}

.cards-item:hover::before {
  opacity: 1;
}

.cards-item img {
  display: block;
  width: 100%;
}


.cards-item:nth-child(2n) {
  margin-right: 0;
}

.shopping-menu-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.shopping-menu-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-light-dark);
  padding: 0;
  margin: 0;
  padding-bottom: 34px;

}

.shopping-menu {
  display: none;
  position: absolute;
  background-color: var(--basic-gray);
  text-align: center;
  width: 360px;
  height: 231px;
  padding-top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards-item:hover .shopping-menu {
  display: block;
}

.shopping-menu h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.shopping-menu-subtitle:hover {
  color: var(--basic-red);
}

.shopping-menu-subtitle:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.cards-cost {
  display: block;
  width: 200px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding: 17px 72px 15px 72px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}


.cards-cost:hover {
  background-color: var(--basic-mildly-red);
}

.cards-cost:focus: {
  background-color: var(--basic-extra-red);
  border: none;
}


/*Pagination*/

.pagination-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;
}

.pagination-item {
  margin-right: 4px;
}

.pagination-item a {
  display: block;
  padding: 0;
  margin: 0;
  padding: 17px 20px 15px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  border-radius: 5px;
  border: 3px solid var(--basic-gray);
}

.pagination-item a:hover {
  background-color: var(--special);
  border-color: var(--special);
}

.pagination-item a:focus {
  background-color: var(--special-gray);
  border-color: var(--special-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.pagination-item-current a {
  padding: 17px 20px 15px 20px;
  background-color: var(--basic-white);
  border-color: var(--basic-gray);
  box-sizing: border-box;
}

.pagination-item-next {
  display: block;
  background-color: var(--basic-gray);
  padding: 17px 77px 15px 78px;
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  box-sizing: border-box;
}

.pagination-item-next a {
  color: var(--basic-black);
}
